/*  ----------------------------------------------------------------
    ------------------------ GENERAL -------------------------------
    ----------------------------------------------------------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

body {
  animation: onLoad ease 2s;
}

img#hourglass {
  width: 80px;
  position: absolute;
  left: 5em;
  z-index: -1;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 1em 0em;
}

h1 {
  font-size: 2.5rem;
  padding: .5em 1em;
  text-align: center;
}

#message {
  color: red;
  margin-top: .5rem;
  animation: blink .5s ease-in-out;
  animation-iteration-count: 3;
}

main {
  position: relative;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  margin: 1rem auto;
  background-color: rgba(204, 204, 204, 0.535);
  padding: 1.5rem;
  border-radius: .7rem;
  border: 5px solid #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1);
}

#finished {
  position: absolute;
  bottom: 5px;
  right: .5em;
}

footer {
  text-align: center;
  padding-bottom: 2em;
}

/*  ----------------------------------------------------------------
    ------------------------ ANIMATIONS ----------------------------
    ----------------------------------------------------------------
*/

.wiggle {
  animation: wiggle 2s infinite;
}

@keyframes onLoad {
  0% {
    opacity: 0.5;
    transform: translateY(-200%);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10%);
  }

  55% {
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes newListItem {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg)
  }

  20% {
    transform: rotate(10deg)
  }

  40% {
    transform: rotate(-10deg)
  }

  60% {
    transform: rotate(10deg)
  }

  80% {
    transform: rotate(-10deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

@keyframes fadeIn {
  from {
    color: rgb(0, 0, 0);
  }

  to {
    color: rgb(51, 141, 69);
  }
}

/*  ----------------------------------------------------------------
    --------------------------- FORM -------------------------------
    ----------------------------------------------------------------
*/

form~span {
  text-align: center;
  width: 100%;
  display: none;
}

form {
  margin: .2em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

#btn-todo {
  font-size: 2.5rem;
  height: 1rem;
  width: 1rem;
  background-image: url(./plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}

button[type="submit"],
input {
  padding: .5em .7em;
  border-radius: 5px;
  background-color: #ccc;
  border: 2px solid #ccc;
  width: 8%;
  transition: all .2s ease-in;
}

input {
  width: 90%;
}

button:hover {
  transition: all .2s ease-in;
  transform: scale(1.1);
}

/*  ----------------------------------------------------------------
    --------------------------- LIST -------------------------------
    ----------------------------------------------------------------
*/

.done {
  text-decoration: line-through;
  color: rgb(51, 141, 69);
  animation: fadeIn .5s ease-in once;
}

.done::before {
  position: absolute;
  transform: translateX(-25px) translateY(5px);
  content: url(./checkmark.svg);
  width: .5rem;
  height: .5rem;
  display: inline-block;
  z-index: 20000;
}

.delete {
  background-color: transparent;
  border: none;
  background-image: url(./trashcan.svg);
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  transition: all .2s ease-out;
  stroke: #e22323;
}

.delete:hover {
  transition: all .2s ease-in;
  animation: wiggle 2s ease-out;
}

ul {
  list-style: none;
  margin: 0;
  display: contents;
}

li {
  padding: .5em 1em;
  background-color: #ccc;
  margin: .3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: .2rem;
  transition: all .2s ease-in;
}

li span {
  max-width: 30ch;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 35px;
  white-space: nowrap;
}

.latestEntry {
  animation: newListItem .5s ease-out once;
}

li:hover {
  transition: all .2s ease-in;
  transform: scale(1.05);
}

span {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1rem;
}